*
{
	
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body
{
	background-image: url(pg.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.menu-bar
{
	background-color:none;
	text-align: center;
	
	
}
.menu-bar ul 
{
	display: inline-flex;
	list-style: none;
	color: rgb(255, 255, 255);
}
.menu-bar ul li 
{
	width: 175px;
	margin: 14px;
	padding: 15px;
	background-color: #ec3a04;
	

}
.menu-bar ul li a 
{
	text-decoration: none;
	color: rgb(255, 254, 254);

}
.active, .menu-bar ul li:hover
{
	background: #2489fd;
	border-radius: 7px;	
}
.menu-bar, .fa
{
	margin-right: 7px;

}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: #2489fd;
	margin-top: 9px;
	margin-left: -15px;
	border-radius: 5px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li 
{
	width: 230px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 90px;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #ff0000;
}

.fa-angle-right
{
	float: right;
}


.sub-menu2
{
	display: none;
}


.hover-me:hover .sub-menu2
{
	position: absolute;
	display: block;
	margin-top:-42px;
	margin-left: 215px;
	background: #2489fd;
	border-radius: 5px;
}
