body{
    margin: 0;
    padding: 0;
    background: url(loginbackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 3%;
    padding: 70px 37px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 10px;
    font-weight: normal;
    text-align: center;
}

input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
    }
    label{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    }
   
    .note{
    color:red;
    }
    .valid{
    color:green;
    }
    

input[type=button]{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #ff0000;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    border-radius: 50px;
    padding: 10px 0;
    outline:none;
    }
    input[type=button]:hover{
    background: linear-gradient(#f0e555 5%, #ffbc00 100%);
    }
    





























































